 <div id="about" class="container-fluid page_height">
  <div class="row no_padding">
    <div class="col-xs-12 center shell">
      <div class="upper">
        <div class="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
        <span class="title">-bash</span>
      </div>
      <div class="enter">
        <h1 class="terminal_title">/about</h1>
        <span class="terminal_text">[</span><span class="terminal_text terminal_user">[terminal]: ~$</span>
        <span class="terminal_text">cat about.txt</span>
        <p class="terminal_text cat_height about_wrap">Hello, thanks for visiting. I'm Devin. I currently live in the Shaw neighborhood of Washington D.C. I was originally born and raised in the San Francisco Bay Area. When I'm not learning new languages or frameworks I like to bike, kayak, and do bodyweight excercises. I also love discovering new places. I've previously lived in Santa Barbara, CA and Madrid, Spain. I originally came to Washington D.C. for a hackathon with the intention of staying for only a week. I made the crazy last minute decision of ditching my return flight ticket and decided to stick around. One more city to add to my "cities I lived in list".</p>
        <span class="terminal_text">[</span><span class="cursor terminal_text terminal_user">[terminal]: ~$</span>
      </div>
    </div>
  </div>
</div>
