 <div class="container fixed-app-size">
  <a class="anchor" id="about"></a>
  <div class="row">
    <div class="col-xs-12 mac_app_body no-paddding-right">
      <div class="upper">
        <div class="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
        <span class="title">about_me</span>
      </div>
      <div class="enter">
        <div class="terminal_prompt">
          <span class="p_symbol">[</span><span class="t_symbol">[terminal]: ~$</span>
          <span class="p_symbol">cat about.txt</span>
        </div>
        <p>Hello, thanks for visiting. I'm Devin. I currently live in the Shaw neighborhood of Washington D.C. I was originally born and raised in the San Francisco Bay Area. When I'm not learning new languages or frameworks I like to bike, kayak, and do bodyweight excercises. I also love discovering new places. I've previously lived in Santa Barbara, CA and Madrid, Spain. I originally came to Washington D.C. for a hackathon with the intention of staying for only a week. I made the crazy last minute decision of ditching my return flight ticket and decided to stick around. One more city to add to my "cities I lived in list".</p>
        <div class="terminal_prompt">
          <span class="p_symbol">[</span><span class="t_symbol cursor">[terminal]: ~$</span>
        </div>
      </div>
    </div>
  </div>
</div>
