<div class="container-fluid page_height contact_bottom_padding">
  <a class="anchor" id="contact"></a>
  <div class="row no_padding">
    <div class="col-lg-12 center mac_app_body contact_bottom_padding">
      <div class="upper">
        <div class="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
        <span class="title">-bash</span>
      </div>
      <div class="enter">
        <h1>{contact}</h1>
        <div class="terminal_prompt">
          <span class="neon_green">[</span><span class="orange">[terminal]: ~$</span>
          <span class="neon_green">cat contact.txt</span>
        </div>
          <p>*name: "Devin Osorio"</p>
          <p>*email: "<a href="mailto:me@devinosor.io">me@devinosor.io</a>"</li>
          <p>*location: "Washington D.C."</p>
          <p>Whether you're looking for a buddy to backpack with through thailand or shark dive with in the Farallon Islands, or maybe you're looking to work together and want me to join your team, then you can just go ahead and shoot me an email. I'm always down to meet new people and make great memories so please don't be shy!</p>
          <p>P.S. bonus points to you if you want to get together to watch Game of Thrones or a Warriors game.</p>
        <div class="terminal_prompt">
          <span class="neon_green">[</span><span class="orange cursor">[terminal]: ~$</span>
        </div>
      </div>
    </div>
  </div>
</div>

