<div id="contact" class="container-fluid page_height">
  <div class="row no_padding contact_bottom_padding">
    <div class="col-lg-12 center shell">
      <div class="upper">
        <div class="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
        <span class="title">-bash</span>
      </div>
      <div class="enter">
        <h1 class="terminal_title">/contact</h1>
        <span class="terminal_text">[</span><span class="terminal_text terminal_user">[terminal]: ~$</span>
        <span class="terminal_text">cat contact.txt</span>
        <ul>
          <li class="terminal_text cat_height">*name: "Devin Osorio"</li>
          <li class="terminal_text cat_height">*email: "<a href="mailto:ideas@devinosor.io">me@devinosor.io</a>"</li>
          <li class="terminal_text cat_height">*location: "Washington D.C."</li>
          <p class="terminal_text cat_height terminal_input">Whether you're looking for a buddy to backpack with through thailand or shark dive with in the Farallon Islands, or maybe you're looking to work together and want me to join your team, then you can just go ahead and shoot me an email. I'm always down to meet new people and make great memories so please don't be shy!</p>
          <p class="terminal_text cat_height terminal_input">P.S. bonus points to you if you want to get together to watch Game of Thrones or a Warriors game.</p>
        </ul>
        <div class="terminal_input">
          <span class="terminal_text">[</span><span class="cursor terminal_text terminal_user">[terminal]: ~$</span>
        </div>
      </div>
    </div>
  </div>
</div>
