<div class="container-fluid">
  <a class="anchor" id="projects"></a>
  <div class="row">
    <div class="col-xs-12 mac_app_body">
      <div class="upper">
        <div class="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
        <span class="title">my_projects</span>
      </div>
      <div class="enter">
        <div class="terminal_prompt">
          <span class="p_symbol">[</span><span class="t_symbol">[terminal]: ~$</span>
          <span class="p_symbol">cat projects.txt</span>
        </div>
          <p><a href="https://github.com/cubadomingo/devin_osor_io">Personal Site</a></p>
          <li>*A responsive web application for my personal website. It includes a blog with the ability to categorize blog posts and post comments anonymously.</li>
          <p><a href="https://github.com/cubadomingo/green_service_invoice">Green Service Invoice</a></p>
          <li>*A responsive web app that creates invoices for service repair companies and allows them to email receipts to customers.</li>
          <p><a href="https://github.com/cubadomingo/words_and_moves">Words & Moves</a></p>
          <li>*A responsive web application that allows users to submit and vote on reviews and events for the music & arts.</li>
          <p class="center_text">*More of my code can be found on my <a href="https://github.com/cubadomingo">Github</a> account*</p>
        <div class="terminal_prompt">
          <span class="p_symbol">[</span><span class="t_symbol cursor">[terminal]: ~$</span>
        </div>
      </div>
    </div>
  </div>
</div>

