 <div id="projects" class="container-fluid page_height">
  <div class="row no_padding">
    <div class="col-xs-12 center shell">
      <div class="upper">
        <div class="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
        <span class="title">-bash</span>
      </div>
      <div class="enter">
        <h1 class="terminal_title">/projects</h1>
        <span class="terminal_text">[</span><span class="terminal_text terminal_user">[terminal]: ~$</span>
        <span class="terminal_text">cat projects.txt</span>
        <ul>
          <li class="terminal_text cat_height"><a href="https://github.com/cubadomingo/devin_osor_io">Personal Site</a></li>
          <p class="terminal_text cat_height tool">*A responsive web application for my personal website. It includes a blog with the ability to categorize blog posts and post comments anonymously.</p>
          <li class="terminal_text cat_height"><a href="https://github.com/cubadomingo/green_service_invoice">Green Service Invoice</a></li>
          <p class="terminal_text cat_height tool">*A responsive web app that creates invoices for service repair companies and allows them to email receipts to customers.</p>
          <li class="terminal_text cat_height"><a href="https://github.com/cubadomingo/words_and_moves">Words & Moves</a></li>
          <p class="terminal_text cat_height tool">*A responsive web application that allows users to submit and vote on reviews and events for the music & arts.</p>
          <li class="terminal_text cat_height terminal_input">More of my code can be found on my <a href="https://github.com/cubadomingo">Github</a> account</li>
        </ul>
        <div class="terminal_input">
          <span class="terminal_text">[</span><span class="cursor terminal_text terminal_user">[terminal]: ~$</span>
        </div>
      </div>
    </div>
  </div>
</div>
