<div class="container-fluid fixed-app-size">
  <a class="anchor" id="skills"></a>
  <div class="row">
    <div class="col-xs-12 mac_app_body">
      <div class="upper">
        <div class="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
        <span class="title">my_skills</span>
      </div>
      <div class="enter">
        <div class="terminal_prompt">
          <span class="p_symbol">[</span><span class="t_symbol">[terminal]: ~$</span>
          <span class="p_symbol">cat skills.txt</span>
        </div>
          <p>Front-end:</p>
          <ul>
            <li>*HTML 5</li>
            <li>*CSS 3</li>
            <li>*SASS</li>
            <li>*Bootstrap</li>
            <li>*Javascript(ES6)</li>
            <li>*React and Redux</li>
          </ul>
          <p>Back-end:</p>
          <ul>
            <li>*Ubuntu</li>
            <li>*NGINX</li>
            <li>*Passenger Phusion</li>
            <li>*PostgreSQL</li>
            <li>*Ruby on Rails</li>
            <li>*Capistrano</li>
          </ul>
          <p>Testing:</>
          <ul>
            <li>*RSpec</li>
            <li>*Capybara</li>
            <li>*factory_girl</li>
            <li>*Shoulda Matchers</li>
          </ul>
          <p></p>
        <div class="terminal_prompt">
          <span class="p_symbol">[</span><span class="t_symbol cursor">[terminal]: ~$</span>
        </div>
      </div>
    </div>
  </div>
</div>

