<div class="container-fluid page_height">
  <a class="anchor" id="skills"></a>
  <div class="row no_padding">
    <div class="col-lg-12 mac_app_body">
      <div class="upper">
        <div class="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
        <span class="title">-bash</span>
      </div>
      <div class="enter">
        <h1>{skills}</h1>
        <div class="terminal_prompt">
          <span class="neon_green">[</span><span class="orange">[terminal]: ~$</span>
          <span class="neon_green">cat skills.txt</span>
        </div>
          <p>Front-end:</p>
          <li>*HTML 5</li>
          <li>*CSS 3</li>
          <li>*SASS</li>
          <li>*Bootstrap</li>
          <li>*Javascript(ES6)</li>
          <li>*React and Redux</li>
          <p>Back-end:</p>
          <li>*Ubuntu</li>
          <li>*NGINX</li>
          <li>*Passenger Phusion</li>
          <li>*PostgreSQL</li>
          <li>*Ruby on Rails</li>
          <li>*Capistrano</li>
          <p>Testing:</>
          <li>*RSpec</li>
          <li>*Capybara</li>
          <li>*factory_girl</li>
          <li>*Shoulda Matchers</li>
          <p></p>
        <div class="terminal_prompt">
          <span class="neon_green">[</span><span class="orange cursor">[terminal]: ~$</span>
        </div>
      </div>
    </div>
  </div>
</div>

