<div id="stack" class="container-fluid page_height">
<div class="row no_padding">
  <div class="col-lg-12 center shell">
    <div class="upper">
      <div class="buttons">
        <div class="button red">
        </div>
        <div class="button yellow">
        </div>
        <div class="button green">
        </div>
      </div>
      <span class="title">-bash</span>
    </div>
    <div class="enter">
      <h1 class="terminal_title">/stack</h1>
      <span class="terminal_text">[</span><span class="terminal_text terminal_user">[terminal]: ~$</span>
      <span class="terminal_text">cat stack.txt</span>
      <ul>
        <li class="terminal_text cat_height">Front-end:</li>
        <li class="terminal_text cat_height tool">*HTML 5</li>
        <li class="terminal_text cat_height tool">*CSS 3</li>
        <li class="terminal_text cat_height tool">*SASS</li>
        <li class="terminal_text cat_height tool">*Bootstrap</li>
        <li class="terminal_text cat_height tool">*Javascript(ES6)</li>
        <li class="terminal_text cat_height tool">*React and Redux</li>
        <li class="terminal_text cat_height">Back-end:</li>
        <li class="terminal_text cat_height tool">*Ubuntu</li>
        <li class="terminal_text cat_height tool">*NGINX</li>
        <li class="terminal_text cat_height tool">*Passenger Phusion</li>
        <li class="terminal_text cat_height tool">*PostgreSQL</li>
        <li class="terminal_text cat_height tool">*Ruby on Rails</li>
        <li class="terminal_text cat_height tool">*Capistrano</li>
        <li class="terminal_text cat_height">Testing:</li>
        <li class="terminal_text cat_height tool">*RSpec</li>
        <li class="terminal_text cat_height tool">*Capybara</li>
        <li class="terminal_text cat_height tool">*factory_girl</li>
        <li class="terminal_text cat_height tool">*Shoulda Matchers</li>
      </ul>
      <div class="terminal_input">
        <span class="terminal_text">[</span><span class="cursor terminal_text terminal_user">[terminal]: ~$</span>
      </div>
    </div>
  </div>
</div>
</div>
