<div class="container-fluid page_height">
  <div class="row no_padding">
    <div class="col-xs-12 center" id="text_edit2">
      <div id="upper">
        <div id="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
        <span class="title">introduction.txt</span>
      </div>
      <div id="enter">
        <div class="align_glyph">
        <%= image_tag("face.png", class: "face") %>
        </div>
        <h2> Hello_World! </h2>
        <h3> I'm a full stack web developer; I design and develop responsive and dynamic websites. Keep scrolling to learn more about me. </h3>
        <div class="align_glyph">
          <a href="http://www.instagram.com/devosorio"><%= image_tag("instagram.png", class: "glyph_size") %></a>
          <a href="http://wwww.github.com/cubadomingo"><%= image_tag("github.png", class: "glyph_size") %></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="container-fluid page_height">
  <div class="row no_padding">
    <div class="col-lg-12 center" id="shell">
      <div id="upper">
        <div id="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
        <span class="title">-bash</span>
      </div>
      <div id="enter">
        <h1 class="terminal_title">/about</h1>
        <span class="terminal_text">[</span><span class="terminal_text terminal_user">[terminal]: ~$</span>
        <span class="terminal_text">cat about.txt</span>
        <ul>
          <li class="terminal_text cat_height">Hello, thanks for visiting. I'm Devin. I currently live in the East Bay of the San Francisco Bay Area. I'm a self-taught programmer and self-declared entrepaneur. I've been programming for about a year and a half, and love everything about it. My other hobbies include traveling, reading, electronics; rock climbing, running, and fitness in general.</li>
        </ul>
        <span class="terminal_text">[</span><span id="cursor" class="terminal_text terminal_user">[terminal]: ~$</span>
      </div>
    </div>
  </div>
</div>

<div id="stack" class="container-fluid page_height">
<div class="row no_padding">
  <div class="col-lg-12 center" id="shell">
    <div id="upper">
      <div id="buttons">
        <div class="button red">
        </div>
        <div class="button yellow">
        </div>
        <div class="button green">
        </div>
      </div>
      <span class="title">-bash</span>
    </div>
    <div id="enter">
      <h1 class="terminal_title">/stack</h1>
      <span class="terminal_text">[</span><span class="terminal_text terminal_user">[terminal]: ~$</span>
      <span class="terminal_text">cat stack.txt</span>
      <ul>
        <li class="terminal_text cat_height">I specialize in the following:</li>
        <li class="terminal_text cat_height">*HTML 5</li>
        <li class="terminal_text cat_height">*CSS 3</li>
        <li class="terminal_text cat_height">*SASS</li>
        <li class="terminal_text cat_height">*Bootstrap</li>
        <li class="terminal_text cat_height">*Javascript</li>
        <li class="terminal_text cat_height">*PostgreSQL</li>
        <li class="terminal_text cat_height">*Ruby on Rails</li>
        <li class="terminal_text cat_height">*Capistrano</li>
        <li class="terminal_text cat_height">*NGINX</li>
        <li class="terminal_text cat_height">*Unix</li>
        <li class="terminal_text cat_height">*Development, Testing, & *Deployment </li>
      </ul>
      <span class="terminal_text">[</span><span id="cursor" class="terminal_text terminal_user">[terminal]: ~$</span>
    </div>
  </div>
</div>
</div>

<div id="contact" class="container-fluid page_height">
  <div class="row no_padding padding_posts">
    <div class="col-lg-12 center" id="shell">
      <div id="upper">
        <div id="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
        <span class="title">-bash</span>
      </div>
      <div id="enter">
        <h1 class="terminal_title">/contact</h1>
        <span class="terminal_text">[</span><span class="terminal_text   terminal_user">[terminal]: ~$</span>
        <span class="terminal_text">cat contact.txt</span>
        <ul>
          <li class="terminal_text cat_height">*name: "Devin Osorio"</li>
          <li class="terminal_text cat_height">*email: "<a class="  terminal_text terminal_user" href="mailto:ideas@devinosor.io">ideas@devinosor.io</a>"</li>
          <li class="terminal_text cat_height">*location: "SF Bay Area"</li>
          <li class="terminal_text cat_height">You can contact me   through whatever method you find easiest. Whether we're   backpacking through Thailand, Shark Cage diving in the 
          Farallon Islands, or developing the next big thing, I can only promise good vibes and a great time. I look forward to hearing from you.</li>
        </ul>
        <span class="terminal_text">[</span><span id="cursor" class="  terminal_text terminal_user">[terminal]: ~$</span>
      </div>
    </div>
  </div>
</div>