<% if logged_in? %>
 <div class="text-center button-margin-bottom">
 <%= link_to "make a new post", new_post_path, class: "btn btn-primary button-large button-margin" %>
 </div>
<% end %>

<div class="container-fluid fixed-app-size no-padding container-margin">
    <div class="col-xs-12 col-md-9 no-padding">
      <% if @posts.any? %>
        <%= render @posts %>
      <% end %>
    </div>


    <div class="col-md-3 no-padding-right">
      <div id="about_me_blog" class="col-lg-12 mac_app_body_blog">
       <div class="upper">
         <div class="buttons">
           <div class="button red">
           </div>
           <div class="button yellow">
           </div>
           <div class="button green">
           </div>
         </div>
         <span class="title">welcome.txt</span>
       </div>
        <div class="enter">
          <div class="align_glyph">
          <%= image_tag("face.png", class: "face") %>
          </div>
          <h2 class="text-center">Welcome to my blog!</h2>
          <p>I'm Devin, a huge tech nerd currently living in Washington D.C. This blog is a mix of everything going on in my life, so feel free to check the categories if you want to read about a certain topic. </p>
          <p class="text-center"><a href="/#about">Discover more about me!</a></p>
          <div class="align_glyph">
            <a href="https://github.com/cubadomingo"><%= image_tag("github.png",  class: "glyph_size") %></a>
          </div>
        </div>
      </div>
    </div>
</div>
