#ip-l {
  display: block;
}

#ip-m {
  display: none;
}

#about_me_blog {
  display: block;
}

.intro-margin {
  margin-bottom: 22px;
}

.fixed-app-size {
  width: 1150px;
}

.no-padding-right {
  padding-right: 0px;
}

.blog-margin-right {
  marign-right: 20px;
}
