/* Navbar */

.navbar {
  .navbar-brand {
    font-size: 20px;
    color: $white;

    &:visited {
      color: $white;
    }
  }
}

.dropdown-menu {
  background-color: $terminalBlack;
}

.navbar-default {
  .navbar-nav {
    li {
      a {
        font-size: 16px;
      }
    }
  }
}

#post_xs {
  display: none;
}

#post_s {
  display: block;
}


/* Body */

body {
padding-top: 90px;
padding-left: 70px;
padding-right: 70px;

  h1 {
    font-size: 20px;

    a {
      font-size: 20px;
    }
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  li {
    font-size: 14px;
    line-height: 17px;
  }

  a {
    font-size: 14px;
  }
}

.face {
  width: 75%;
  height: 75%;
  margin-top: 10px;
}


/* Mac App Body */

  #post_xs {
    display: none;
  }
  #description_xs {
    display: none;
  }
  #intro_xs {
    display: none;
  }
  #intro_and_bash {
    display: block;
  }

  #ip-l {
    display: none;
  }

.mac_app_body {
  margin-bottom: 40px;
}

.mac_app_body_blog {
  margin-bottom: 40px;
}

.enter{
  padding-bottom: 20px;

  li {
    line-height: 20px;
  }

  p {
    line-height: 20px;

  }
}

.intro_and_time {
  .row {
  margin-left: 0px;
  margin-right: 0px;
}
}
/* Terminal Prompt */


.terminal_prompt {
  font-size: 14px;
}


/* Text Area Styling */

.body_field {
  min-height: 220px;
}

/* Resize */

.terminal-resize {
  min-height: 100%;
}

.intro-margin {
  margin-bottom: 28px;
}

.fixed-app-size {
  width: 850px;
}
/* Footer */

footer {

  p {
    color: $neon_green;
    font-size: 14px;
  }

  .footer_links {

    a {
      font-size: 18px;
    }
  }
}
