/* Navbar */

.navbar {
  margin-bottom: 0px;

  .navbar-collapse {
    border-color: $terminalBlack;
  }

  .navbar-brand {
    font-size: 18px;
    color: $white;

    &:visited {
      color: $white;
    }
  }
}

.navbar-default {
  background: $terminalBlack;
  border-color: $terminalBlack;

  .navbar-toggle {
    border-color: $white;
    background-color: $terminalBlack;

    &:hover {
      background-color: $terminalBlack;
    }

    &:focus {
      background-color: $terminalBlack;
    }

    &:visited {
      background-color: $terminalBlack;
    }

    .icon-bar {
      background-color: $white;
    }
  }

  .navbar-nav {
    li {
      margin-left: 0px;

      a {
        color: $white;
        font-size: 22px;
        text-align: left;
      }

      a:hover {
         background-color: $grey;
        color: $white;
      }

      a:visited {
        color: $white;
      }

      a:focus {
        color: $white;
      }
    }

    .open {

      a {

        &:focus {
          color: $white;
          background-color: $grey;
        }
        &:visited {
          color: $white;
        }
      }

      .dropdown-menu >li > a {
        color: $white;

        &:hover {
          color: $white;
        }
      }
    }
  }
}


/* Body */

body {
  background-color: $terminalBlack;
  font-family: "Dejavu Sans Mono";
  background-image: image-url("background.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
  padding-top: 60px;
  padding-bottom: 90px;
  padding-left: 25px;
  padding-right: 25px;
  color: $grey;

  h1 {
    a {
      font-size: 18px;
    }
    color: $white;
    font-size: 18px;
    margin-top: 10px;
  }

  h2 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  li {
    list-style-type: none;
    font-size: 12px;
    line-height: 15px;
  }

  a {
    font-size: 12px;
    color: $white;
    text-decoration: none;
    text-align: center;

    &:link {
      text-decoration: none;
    }

    &:hover {
      color: $white;
    }

    &:visited {
      color: $white;
    }

    &:focus {
      color: $white;
    }
  }
}

/* Mac App Bar */

.upper{
  background: #e5e5e5;
  background: -webkit-linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
  background: linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
  background-image: -moz-linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  height: 25px;
  text-align: center;
  padding-top: 0px;

  .buttons {
    margin-left: 4px;
    margin-top: 0px;
  }

  .button{
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-top: 7px;
    margin-left: 8px;
    float: left;
  }

  .title{
    color: black;
    margin-left: -60px;
    font-size: 12px;
  }
}


/* Mac App Body */

.mac_app_body {
  background-color: $terminalBlack;
  border-style: solid;
  border-color: $grey;
  border-width: 1px;
  border-radius: 3px;
  padding: 0;
  margin-bottom: 20px;
}

.mac_app_body_blog {
  background-color: $terminalBlack;
  border-style: solid;
  border-color: $grey;
  border-width: 1px;
  border-radius: 3px;
  padding: 0;
  margin-bottom: 20px;

  p {
    font-family: "Roboto";
  }
}

.enter{
  display: block;
  padding-top: 10px;;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;

  :focus {
    outline: 0px solid transparent;
  }

  li {
    line-height: 18px;
  }

  p {
    line-height: 18px;
    margin-top: 10px;
  }

  h2 {
    margin-top: 10px;
    color: $neon_green;
  }
}

/* Terminal Prompt */


.terminal_prompt {
  font-size: 12px;

  .t_symbol {
    color: $neon_green;
  }

  .p_symbol {
    color: $grey;
  }

  .cursor:after {
    content: "|";
    color: rgb(085,184,072);
    opacity: 0;
    animation: cursor 1s infinite;
  }
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Text Area Styling */

.body_field {
  min-height: 220px;
}

.comment_reply {
  min-height: 120px;
}

/* Images */

.glyph_size {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

.align_glyph {
  text-align: center;
}

.face {
  width: 75%;
  height: 75%;
  margin-top: 10px;
}

/* Buttons */

.btn-primary {
  border-color: $neon_green;
  background-color: $neon_green;
  width: 100%;

  &:hover {
    border-color: $neon_green;
    background-color: $neon_green;
  }
}

.button-margin {
  margin-top: 10px;
}

.button-margin-bottom {
  margin-bottom: 10px;
}


/* Miscellaneous */

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

#post_s {
  display: none;
}

#intro_xs {
  display: block;
}

#intro_and_bash {
  display: none;
}

#about_me_blog {
  display: none;
}

/* Footer */

footer {

  .container_fluid {
    padding-botton: 0px;
  }

  p {
    color: $neon_green;
    font-size: 12px;
  }

  .footer_links {

    a {
      font-size: 16px;
    }
  }

  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $terminalBlack;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 90px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  padding-bottom: 10px;
  text-align: center;
}
