/* Navbar */

.navbar {
  margin-bottom: 0px;

  .nav {
    > li {
      margin-left: 0px;
      .dropdown-toggle {
        > a {
          color: $orange;
        }
      }
      > a {
        text-align: left;

        &:visited {
          color: $pink;
        }

        color: $pink;
        font-size: 25px;
      }
    }
  }
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $pink;
    font-size: 25px;
}

.navbar-default {
  background: white;
  border-color: $black;

  .navbar-nav {
    > li {
      > a:hover {
        color: $pink;
      }
      > a:focus {
        color: $pink;
        background-color: white;
      }
    }

    .open > a {
    color: orange;
    &:focus {
      background-color: white;
      color: $pink;
    }
    &:hover {
      color: $pink;
    }
    &:visited {
      color: $pink;
    }
   }
  }


  .navbar-collapse {
    border-color: $black;
  }

  .navbar-brand {
    font-size: 20px;
    color: $neon_green;

    &:visited {
      color: $neon_green;
    }
  }

  .navbar-toggle {
    border-color: $black;
    background-color: white;

    .icon-bar {
      background-color: $black;
    }

    &:hover {
      background-color: white;
    }
  }
}

/* body */

body {

  font-family: "Dejavu Sans Mono";
  background-image: image-url("background.jpg");
  background-size: 100% auto;
  background-repeat: repeat-y;
  padding-top: 50px;
  padding-bottom: 110px;

  h1 {
    color: $orange;
    text-align: center;
  }

  h2 {
    color: $orange;
    font-size: 18px;
    text-align: center;
  }

  p {
   color: $neon_green;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
  }

  ul {
    font-size: 12px;
  }

  li {
    list-style-type: none;
    color: $neon_green;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 0px;
    line-height: 25px;
  }

  a {

   &:link {
    text-decoration: none;
   }

    font-size: 16px;
    color: $pink;
    text-decoration: none;
    text-align: center;
  }
}

/* images */

.glyph_size {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

.align_glyph {
  text-align: center;
}

.face {
  width: 75%;
  height: 75%;
  margin-top: 10px;
}

/* home page */

.page_height {
  min-height: 550px;
}

.intro_top_margin {
  margin-top: 20px;
}

.no_padding {
  margin-left: 1px;
  margin-right: 1px;
}

/* Mac App Bar */

.terminal_title {
  margin: 10px;
 }

.title{
  margin-left: -70px;
  font-size: 15px;
}

.upper{
  background: #e5e5e5;
  background: -webkit-linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
  background: linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
  background-image: -moz-linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  height: 35px;
  text-align: center;
  padding-top: 5px;
}

.buttons {
  margin-left: 5px;
  margin-top: 3px;
}

.button{
  width: 13px;
  height: 13px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 4px 4px 4px 4px;
  float: left;
}

/* Mac App Body */

.mac_app_body {
  min-width:0 auto;
  min-height: 480px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 3px;
  padding: 0;
  margin-bottom: 20px;
}

.contact_bottom_padding {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.terminal_prompt {
  font-size: 16px;
}

.shell{
  min-width: 0 auto;
  min-height: 480px;
  background: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 3px;
  padding: 0;
  margin-top: 60px;
  color: $title;
}

.enter{
  > h1 {
    margin-top: 10px;
  }

  &:focus {
    outline: 0px solid transparent;
  }

  p {
    margin-top: 10px;
  }
  display: block;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}

.cursor:after {
  content: "|";
  color: rgb(085,184,072);
  opacity: 0;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* blog post */

.body_field {
  min-height: 220px;
}

.last_post_margin {
  margin-bottom: 20px;
}

.post_margin {
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 20px;
}

.post_body {
  font-family: "Roboto";

  > h2 {
    > a {
      font-size: 20px;
      color: black;
    }
    color: black;
    margin-top: 0px;
  }

  .comment_section {
      > p {
     font-family: "Roboto";
     color: $black;
     text-align: left;
     font-size: 14px;
     line-height: 18px;
    }

    .comment_terminal_font {
      font-family: "Dejavu Sans Mono";
    }

    .orange {
      color: $orange;
    }

    .neon_green {
      color: $neon_green;
    }

    border-style: solid;
    border-color: $black;
    border-width: 1px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }

  > p {
    > a {
     font-size: 14px;
    }
    font-size: 14px;
  }

  .blog_post {
      > p {
     font-family: "Roboto";
     color: $black;
     text-align: left;
     font-size: 14px;
     line-height: 18px;

    }
  }

  min-width:0 auto;
  min-height:0 auto;
  background: white;
  border-style: solid;
  border-color: $black;
  border-width: 1px;
  border-radius: 8px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.post_s {
  display: none;
}

.post_m {
  display: none;
}

.post_l {
  display: none;
}

/* comment styling */

.comment_reply {
  min-height: 120px;
}

.comment_movement {
  color: $black;
}


/* Categories */

.categories_body{
  .category_font {
    > a {
      font-size: 30px;
    }
  }


  min-width: 0 auto;
  min-height: 50px;
  background: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 3px;
  padding: 0;
  color: $title;
}

/* text edit window */

.main_buffer {
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
}

.top_buffer {
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
}

.reduce_font {
  font-size: 50px;
  line-height: 30px;
}

.enter_text{
  margin-top: 20px;
  margin-left: 10px;
  width: 100%;
  height: 100%;
}

/* buttons */

.buttons_bottom_margin {
  margin-bottom: 10px;
}

.buttons_top_margin {
  margin-top: 10px;
}

/* admin_login */

.login_center {
  float: center;
  text-align: center;
}

.btn-primary {
  border-color: $black;
  background-color: $black;

  &:hover {
    border-color: $orange;
    background-color: $orange;
  }
}

.enter_login {
  margin: 10px;
}

/* miscellaneous */

.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.center_text {
  text-align: center;
}

.margin_adjust {
  padding-top: 50px;
}

.left {
  text-align: left;
  float: left;
}

.terminal_text1 {
  color: $neon_green;
  font-size: 25px;

  > a {
   color: $neon_green;
   font-size: 25px;
   line-height: 30px;
  }
}

/* footer */

footer {

  .footer_links {
    word-spacing: 20px;

    a {
      &:visited {
        color: $pink;
      }
      font-size: 20px;
    }
  }

  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 90px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  padding-bottom: 10px;
  text-align: center;
}
