@import "bootstrap-sprockets";
@import "bootstrap";
@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:     border-box;
  -webkit-box-sizing:  border-box;
  box-sizing:          border-box;
}

$black: #000;
$terminalBlack: rgb(51,51,51);
$red: #ff6c6b;
$title: #383838;
$redCircle: #f04341;
$greenCircle: #96cf7d;
$yellowCircle: #f5b868;
$pink: rgb(234,011,140);
$orange: rgb(235,132,045);
$blue: rgb(051,137,178);
$neon_green: rgb(085,184,072);
$purple: rgb(127,63,152);
$white: rgb(255,255,255);
$grey: rgb(147,149,152);

/* fonts */

@font-face {
	font-family: "DejaVu Sans Mono";
	src: font-url('DejaVuSansMono.ttf');
}

/* html doc */

html {
  position: relative;
  margin: 0 auto;
  min-height: 100%;
}

/* colors */

.neon_green {
  color: $neon_green;
}

.black {
  color: black;
}

.orange {
  color: $orange;
}

.red{
  background: $redCircle;
  border: 1px solid darken(#f04341, 10%);
}

.yellow{
  background: $yellowCircle;
  border: 1px solid darken(#f5b868, 10%);
}

.green{
  background: $greenCircle;
  border: 1px solid darken(#96cf7d, 10%);
}


/* XS Screen < 320px */


/* XS Screen */


@import 'xs_screen';

/* Small Screen < 768px */

@media (min-width: 768px) {
@import 's_screen';
}

/* Medium Screen > 992px */

@media (min-width: 992px) {

}

/* Large Screen > 1200px */

@media (min-width: 1200px) {

}



