<div class="container-fluid">
  <div class="row no_padding">
    <div class="col-lg-12 center shell2">
      <div class="upper">
        <div class="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
        <span class="title">category</span>
      </div>
      <div class="enter">
        <h1 class="terminal_title">/<%= @category.name %></h1>
        <span class="terminal_text">[</span><span class="cursor" class="terminal_text terminal_user">[terminal]: ~$</span>
      </div>
    </div>
  </div>
</div>

<% if @category.posts.any? %>
    <%= render @posts %>
  <% end %>
