<div class="container-fluid fixed-app-size">
  <div class="row">
    <div class="col-xs-12 mac_app_body">
      <div class="upper">
        <div class="buttons">
          <div class="button red">
          </div>
          <div class="button yellow">
          </div>
          <div class="button green">
          </div>
        </div>
        <span class="title">category</span>
      </div>
      <div class="enter">
        <h1 class="text-center"><%= @category.name %></h1>
      </div>
    </div>
  </div>
</div>

<% if @category.posts.any? %>
    <%= render @posts %>
  <% end %>
