<footer class="container-fluid">
  <div class="center_footer row">
    <a class="footer_font" href="/#about">about</a>
    <a class="footer_font" href="/#stack">stack</a>
    <a class="footer_font" href="/#projects">projects</a>
    <a class="footer_font" href="/#contact">contact</a>
    <a class="footer_font" href="/blog">blog</a>
  </div>
  <p> © COPYRIGHT 2016 DEVIN OSORIO </p>
</footer>
