<footer class="container-fluid">
  <div class="footer_links button-margin-bottom">
  <%= link_to "[check out my blog]", root_url(subdomain: 'blog') %>
  </div>
  <p class="center_text">© COPYRIGHT 2016 DEVIN OSORIO</p>
</footer>
