<footer class="container-fluid">
  <div class="footer_links button-margin-bottom">
    <a href="/blog">check out my blog</a>
  </div>
  <p class="center_text">© COPYRIGHT 2016 DEVIN OSORIO</p>
</footer>
