<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Devin_Osorio</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="drop_down_nav_font_size nav navbar-nav navbar-right">
        <% if params[:controller] == "static_pages" %>
          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/blog">[check out my blog]</a></li>
        <% elsif params[:controller] == "posts" %>
          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/">home</a></li>
          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/categories">categories</a></li>
        <% else %>
          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/">home</a></li>
          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/blog">[check out my blog]</a></li>
        <% end %>

        <% if logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle orange" data-toggle="dropdown">account<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
            <%= link_to "log_out", logout_path, method: "delete" %>
            </li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
